

.example-container{
  background-color: blue;
  height: 300px;
 // position: relative;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
  
}
.example-container {
  .mat-form-field-appearance-fill .mat-form-field-underline,
  .mat-form-field-appearance-fill .mat-form-field-ripple,
  .mat-form-field-appearance-fill.mat-focused
      .mat-form-field-underline,
  .mat-form-field-appearance-fill.mat-focused
      .mat-form-field-ripple {
      background-color:white;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before,
  .mat-form-field-appearance-fill .mat-form-field-ripple {
      background-color:white;
  }

  .mat-focused, 
  .mat-select-arrow{
      color: #fff ;
  }

   
  ::ng-deep.mat-form-field-appearance-fill.mat-form-field.mat-focused.mat-form-field-flex{
      background-color: green;
  }
  /** Overrides label color **/
  .mat-form-field-appearance-fill .mat-form-field-label,
  .mat-form-field-appearance-fill.mat-focused
      .mat-form-field-label {
      color:white;
  } 

  .mat-form-field-appearance-fill .mat-input-element {
      caret-color:white;
      color:white;
  } 
}