<h1>Trillo</h1>
<button (click)="createObs()">OBS Create</button>
<button (click)="destory()">OBS desctory</button>
<input type="file" multiple (change)="calculateMD5Multiple($event)" />

<!-- <h3 [attr.data]="chartObserver$ | async">Timeline</h3>
<div #timeline></div> -->

<h3>Events:</h3>
<ol [attr.data]="workResult$ | async">   
    <li *ngFor="let file of filenames$ | async">
        <ul>
            <li *ngFor="let event of eventListPool$ | async">
                <app-log-list *ngIf="filenames$ | async as filenames" [message]="event" [files]="filenames"></app-log-list>
            </li> 
        </ul>
        <h1>++++++++++++</h1>
    </li>
</ol>
