<div class="layout-container">
    <app-top-bar></app-top-bar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="toolBarHeight">
        <mat-sidenav  #snav class="sidenav mat-elevation-z10" [(mode)]="sideNavMode" [(opened)]="sideNavOpened">
            <app-side-bar></app-side-bar>
        </mat-sidenav>
        <mat-sidenav-content>
        <main class="main-container">
            <router-outlet></router-outlet> 
        </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar color="primary" class="fix-nav"></mat-toolbar>
</div>
