.load-container {
    padding: 0.75rem 1rem 0.75rem 1rem;
    background-color: red;
}
.borrower-container div {
    display: inline-block;
    padding-right: 2rem;;
    ul {
        list-style: none;
        padding: 0;
        b::before {
            content: ":";
        }
    }
    li {
        display: table-row
    }
    b {
        display: table-cell;
        padding-left: 1rem; 
        display: inline-block;
    }  
}
.borrower-container {
    padding: 0.75rem 1rem 0.75rem 1rem;
    background-color: white;
}

.loan-tab {
    padding-left:0.75rem;
    background-color: white;
    border-top:1px solid black; 
    border-bottom: 1px solid black;
    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: 0px solid rgba(0,0,0,.12);
    }
}
