/* You can add global styles to this file, and also import other style files */



@import './scss/material';
//@import './scss/utils';
//@import './scss/responsive';
//@import './scss/variables';
//@import './scss/theme';
@import './scss/main';

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  //1rem * 10px
}
body { margin: 0; 
    padding:0 ;
    font-family:  "Helvetica Neue", sans-serif; 
    background-color: red;
}



/** Overrides underline color **/


.mat-elevation-z8 {
    padding: 10px;
    position: relative;
    mat-toolbar {
        //background-color: kgray;
        height: 300px;
    }
    .table-file-icon {
        background-color: darkgreen;
        //width:50%;
        text-align:center;
        //padding:2px;
        overflow:hidden;
        white-space: initial;
        width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
}








