/* You can add global styles to this file, and also import other style files */



@import './scss/material';
@import './scss/utils';
@import './scss/responsive';
@import './scss/variables';
@import './scss/theme';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container{
    background-color: blue;
    height: 300px;
   // position: relative;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    
}

/** Overrides underline color **/
.example-container {
    .mat-form-field-appearance-fill .mat-form-field-underline,
    .mat-form-field-appearance-fill .mat-form-field-ripple,
    .mat-form-field-appearance-fill.mat-focused
        .mat-form-field-underline,
    .mat-form-field-appearance-fill.mat-focused
        .mat-form-field-ripple {
        background-color:white;
    }

    .mat-form-field-appearance-fill .mat-form-field-underline::before,
    .mat-form-field-appearance-fill .mat-form-field-ripple {
        background-color:white;
    }

    .mat-form-field-appearance-fill.mat-focused, 
    .mat-select-arrow{
        color: #fff ;
    }

    .mat-form-field-appearance-fill.mat-form-field .mat-form-field-flex{
        background-color: green;
    }
    /** Overrides label color **/
    .mat-form-field-appearance-fill .mat-form-field-label,
    .mat-form-field-appearance-fill.mat-focused
        .mat-form-field-label {
        color:white;
    } 

    .mat-form-field-appearance-fill .mat-input-element {
        caret-color:white;
        color:white;
    }

    .mat-form-field-appearance-fill .mat-form-field-outline {
        color: white;
      }
      /* Font color */
      input.mat-input-element {
        color: white;
      }
   
      
}

.mat-elevation-z8 {
    padding: 10px;
    position: relative;
    mat-toolbar {
        //background-color: kgray;
        height: 300px;
    }
    .table-file-icon {
        background-color: darkgreen;
        //width:50%;
        text-align:center;
        //padding:2px;
        overflow:hidden;
        white-space: initial;
        width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
}






